@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Founders";
  src: local("Founders Grotesk"),
    url("./fonts/FoundersGrotesk-Semibold.ttf") format("truetype");
}

@font-face {
  font-family: "NeueMontreal";
  src: local("NeueMontreal") url("../assets/fonts/NeueMontreal-Regular.woff")
    format("truetype");
}
